
.bottom-box {
    margin-top: 50px;
    border-top: 1px solid #664321;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 0px 100px;
}

.bottom-item {
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px 20px;
}

.bottom-box ul li {
    list-style-type: none;
    margin: 15px 0px;
}
.flex-two{
    flex:2;
}
.icon img {
    width: 75px;
    height: 50px;
    margin: 5px;
}
input {
    background: #664321;
    border: #664321;
    border-radius: 20px;
    width: 300px;
    padding: 12px;
}

input#email {
    background-image: url("./../../assets/images/send.png");
    background-repeat: no-repeat;
    background-position: 285px 7px;
    background-size: 25px;
    /* opacity: 0.3; */
}

input::placeholder {
    color: white;
    opacity: 0.5;
    padding-left: 15px;
}
.flex-onehalf{
    flex:1.5;
}

.list-head {
    color: #664321;
    font-weight: bold;
    font-size: 20px;
    /* text-decoration: underline; */
    border-bottom: 2px solid #664321;
    padding-bottom: 5px;
    width: max-content;
}

.flex-one{
    flex:1;
}
.bottom-text {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}